@tailwind base;
@tailwind components;
@tailwind utilities;


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: transparent;
  outline: none;
  border-radius: 3px;
  position: relative;
  z-index: 10;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  background: transparent;
  cursor: pointer;
  z-index: 3;
  position: relative;
  pointer-events: none;

}

.selector {
  height: 50px;
  width: 12px;
  position: absolute;
  bottom: 0px;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.selector > * {
  pointer-events: auto;
}

.selecbtn {
  height: 48px;
  width: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  pointer-events: none;

}

.selectvalue {
  position: absolute;
  top: -30px;
  pointer-events: none;

}


.selectvalue.tooltip {
  position: absolute;
  top: -40px;
  background-color: #402979;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.selector:hover .selectvalue,
.slider:active ~ .selector .selectvalue {
  opacity: 1;
  transform: translateY(0);
}
